@font-face {
  src: url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic) format('woff');
  font-family: 'PT Sans', sans-serif;
}

.ui-widget {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

table.center {margin-left:auto;margin-right:auto;}
table.wide {width:100%;}


table.main {width:70%;}
table.main tr {vertical-align:top;}

