@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
/*
  padding:50px;
*/
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  font-weight:300;
}
